{% extends 'base.html' %} {% block title %}Upbeat City Music Home{% endblock %}
{% block content %}
<!-- Showcase -->
<section
  class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1
          style="font-family: 'Major Mono Display', monospace"
          class="display-5">
          Upbeat <span class="text-warning">City Music</span>
        </h1>
        <p class="lead my-4">
          Sharing Culturally Responsive Ideas that Work in the Music Classroom.
          Empower your students today with culturally responsive teaching
          resources that prioritize student voice, perspective, and identity.
        </p>
      </div>
      <img
        class="img-fluid w-50 d-none d-sm-block pb-3 px-2"
        src="https://images.squarespace-cdn.com/content/v1/5592a8fee4b01f46356f8096/1522845905278-9W4YKGJRTIMT11LPHSTU/_1RL1711.jpg"
        alt="" />
    </div>
  </div>
</section>
<!--Book Download-->

<section
  class="text-light p-5"
  style="background-color: #2f4370">
  <div class="container">
    <div class="d-md-flex justify-content-between align-items-center">
      <h3 class="mb-3 mb-md-0">
        Download Our Free Ebook "How to Stay Relevant"
      </h3>

      <button
        class="btn text-light btn-lg btn-light text-dark"
        type="button">
        Click Here to Download
      </button>
    </div>
  </div>
</section>
<!-- Cards -->
<section class="p-5">
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-md">
        <div
          class="card text-light"
          style="background-color: #005ea7">
          <div class="card-body text-center">
            <div class="h1 mb-3"><i class="bi bi-earbuds"></i></div>
            <h3 class="card-title mb-3">Pop Music Playlist</h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              eligendi officiis ipsum! Blanditiis, adipisci velit.
            </p>
            <a
              href="#"
              class="btn btn-light"
              >Listen Here</a
            >
          </div>
        </div>
      </div>
      <div class="col-md">
        <div
          class="card text-light"
          style="background-color: #e77cb9">
          <div class="card-body text-center">
            <div class="h1 mb-3"><i class="bi bi-book"></i></div>
            <h3 class="card-title mb-3">Buy Our Book</h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              eligendi officiis ipsum! Blanditiis, adipisci velit.
            </p>
            <a
              href="#"
              class="btn btn-light"
              >Purchase Here</a
            >
          </div>
        </div>
      </div>
      <div class="col-md">
        <div
          class="card text-light"
          style="background-color: #005ea7">
          <div class="card-body text-center">
            <div class="h1 mb-3"><i class="bi bi-music-player"></i></div>
            <h3 class="card-title mb-3">Resources</h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              eligendi officiis ipsum! Blanditiis, adipisci velit.
            </p>
            <a
              href="#"
              class="btn btn-light"
              >Access Here</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Professional Development make this into a link brief intor then link -->
<section
  id="learn"
  class="p-5 text-light"
  style="background-color: #2f4370">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <img
          class="container-fluid"
          src="https://i.imgur.com/y2lty30.jpg"
          alt="" />
      </div>
      <div class="col-md p-5">
        <h2>Our Services</h2>
        <p class="lead">
          Lauren and Maria are international presenters. They present at music
          education conferences and work with school districts around the
          country. They have a deep passion for sharing how to implement the
          culturally responsive teaching framework in general music classrooms.
          They draw from their extensive experience as music educators and now
          leaders in public schools in New York City.
        </p>

        <a
          href="#"
          class="btn btn-light mt-3"
          ><i class="bi bi-chevron-right"></i>Click Here to Book Us</a
        >
      </div>
    </div>
  </div>
</section>
<!-- FAQ -->
<section
  id="questions"
  class="p-5">
  <div class="container">
    <h2 class="text-center mb-4">Frequently Asked Questions</h2>
    <div
      class="accordion accordion-flush"
      id="questions">
      <!-- Item 1 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-one"
            aria-expanded="false"
            aria-controls="flush-collapseOne">
            What is culturally responsive teaching?
          </button>
        </h2>
        <div
          id="question-one"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlush">
          <div class="accordion-body">
            Culturally Responsive Teaching is a student-centered framework for
            teaching and learning. It emphasizes leveraging students' cultural
            knowledge and experiences to create meaningful and engaging learning
            which ultimately leads to independence and student agency.The phrase
            culturally responsive teaching was coined by researcher Geneva Gay
            in the year 2000.
          </div>
        </div>
      </div>
      <!-- Item 2 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-two"
            aria-expanded="false"
            aria-controls="flush-collapseTwo">
            How do I book Lauren and/or Maria to present?
          </button>
        </h2>
        <div
          id="question-two"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlush">
          <div class="accordion-body">
            Go to our services section and complete the form. You will hear from
            us shortly after submission.
          </div>
        </div>
      </div>
      <!-- Item 3 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-three"
            aria-expanded="false"
            aria-controls="flush-collapseThree">
            What grade levels do your presentations cover?
          </button>
        </h2>
        <div
          id="question-three"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Our presentations and resources are geared for elementary and middle
            school general music. We believe our concepts and ideas can be
            modified for upper grades.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Us -->
<section
  id="aboutUs"
  class="p-5"
  style="background-color: #2f4370">
  <div class="container">
    <h2 class="text-center text-white">About Us</h2>
    <p class="lead text-center text-white mb-5">
      Lauren and Maria are music education consultants. They actively create and
      facilitate workshops and presentations on culturally responsive practices
      in the music classroom throughout the United States.
    </p>
    <div class="row g-4">
      <div class="col-md-6">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="https://i.imgur.com/l7LAOgJ.jpg"
              class="rounded-circle mb-3 img-flui w-50"
              alt="lauren picture" />
            <h3 class="card-title mb-3">Lauren DeLago</h3>
            <p class="card-text">
              Lauren DeLago, a proud native of New Jersey, graduated from
              Rutgers University's Mason Gross School of the Arts, specializing
              in music education and the French horn. She recently obtained her
              Master of Music Education from the Longy School of Music's online
              program. With over a decade of teaching experience in urban
              schools in New York City and New Jersey, Lauren's dedication to
              music education is evident. Notably, she served as the Music
              Instructional Supervisor at The Equity Project Charter School. As
              a course facilitator for Longy's online program, Lauren mentors
              master's students from the United Nations Institute for Training
              and Research. Simultaneously, she is pursuing studies in software
              development at Springboard's Software Engineering Bootcamp, aiming
              to create innovative music technology learning tools for the
              classroom.
            </p>

            <a href="https://www.facebook.com/profile.php?id=100069348985366"
              ><i class="bi bi-facebook text-dark mx-1"></i
            ></a>
            <a href="https://www.linkedin.com/in/lauren-delago-90b91023/"
              ><i class="bi bi-linkedin text-dark mx-1"></i
            ></a>
            <a href="https://www.instagram.com/keepingitcool_inmusic/"
              ><i class="bi bi-instagram text-dark mx-1"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="https://i.imgur.com/axHE1cV.png"
              class="rounded-circle mb-3 img-fluid w-50"
              alt="maria picture" />
            <h3 class="card-title mb-3">Maria Del Valle</h3>
            <p class="card-text">
              Maria Del Valle is an activist, musician, teacher, consultant, and
              social entrepreneur. She is originally from Puerto Rico and lives
              in New York City. Maria is a flute player with over a decade of
              teaching experience creating music programs in charter schools
              throughout New York City. She is passionate about traveling,
              gardening, making music, and developing culturally responsive
              lessons to make arts accessible to all children.
            </p>

            <a href="https://www.facebook.com/profile.php?id=100069348985366"
              ><i class="bi bi-facebook text-dark mx-1"></i
            ></a>
            <a href="https://www.linkedin.com/in/mariadelvallebrin/"
              ><i class="bi bi-linkedin text-dark mx-1"></i
            ></a>
            <a href="https://www.instagram.com/mariasmusicroom/"
              ><i class="bi bi-instagram text-dark mx-1"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Info -->
<section class="p-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md">
        <h2 class="text-center mb-4">Contact Info</h2>
        <ul class="list-group list-group-flush lead">
          <li class="list-group-item">
            <span class="fw-bold">Email </span>upbeatcitymusic@gmail.com
          </li>
        </ul>
      </div>
      <div class="col-md">
        <img
          src=""
          alt="" />
      </div>
    </div>
  </div>
</section>
{% endblock %}
<!-- Footer -->
